################################# Basic configuration #########################
# Documentation: https://gohugo.io/getting-started/configuration/#all-configuration-settings
baseURL = "https://iibmers.org/"
title = "IIBMers"
theme = "airspace-hugo"
# Number of posts per page in list view
paginate = "4"
# Post excerpt length
summaryLength = "30"
# Disabled languages
disableLanguages = []
# Short name to enable Disqus comments
disqusShortname = "" # Get your shortname from here: https://disqus.com/profile/signup/
# Measurement ID (G-XXXXXXX) to enable Google Analytics
googleAnalytics = ""
publishDir = "docs"

################################# Output formats ##############################
# Documentation: https://gohugo.io/templates/output-formats/#customizing-output-formats

[outputs]
home = [ "HTML" ]


################################# Markup ######################################
# Documentation: https://gohugo.io/getting-started/configuration-markup

[markup.goldmark.renderer]
# Allow "unsafe" HTML in Markdown
unsafe = true

[markup.tableOfContents]
  startLevel = 2
  endLevel = 6
  ordered = false


################################# Default parameters ##########################
[params]
logo = "images/logo.gif"
logo_width = "200px"
favicon = "images/favicon.png"
# OpenGraph / Twitter Card metadata
title = "IIBMers"
description = "Self-organized Biological and Medical Engineering students"
author = "IIBMers"
images = [ "images/logo.png" ] # First image here will be used as fallback if a page has no images of its own


################################# Sidebar widgets #############################
[params.widgets]
sidebar = ["recent_posts", "taxonomy_category", "taxonomy_tags"]


################################# Contact page ################################
[params.contact]
# Address block
phone = "+56 986016091"
email = "contact@iibmers.org"
location = """
Campus San Joaquín - Avda.Vicuña Mackenna 4860

**IIBM**  
Instituto de Ingeniería Biológica y Médica, 
Macul, 
Región Metropolitana,
Chile.
"""
# Whether to display text descriptors (like "E-mail: ", "Phone: ") before the address block elements
address_descriptors = false
[params.contact.form]
enable = true
# Whether to use [Netlify Forms](https://docs.netlify.com/forms/setup/)
use_netlify = false
# Form action
## For Formspree.io: Your Form ID URL, e.g. `https://formspree.io/f/{form_id}`
## For Netlify Forms: Path to a custom [success page](https://docs.netlify.com/forms/setup/#success-messages)
action = "https://formspree.io/f/xeqveojz"


################################# Google map ##################################
[params.gmap]
enable = true
gmap_api = "AIzaSyAFAAftdnGMHyfPR_eX1bdq67TfCmecXVM"
map_latitude = "-33.4986007"
map_longitude = "-70.6120428"
map_marker = "images/marker.png"


################################# Preloader ###################################
[params.preloader]
enable = true
preloader = "" # use .png , .svg or .gif image


################################# Cookies #####################################
[params.cookies]
enable = false
expire_days = 2


################################# Social Media ################################
[[params.social]]
icon = "ion-social-twitter-outline" #ionicon pack v2 : https://ionicons.com/v2/
link = "https://twitter.com/IIBMErs_"

[[params.social]]
icon = "ion-social-instagram-outline" #ionicon pack v2 : https://ionicons.com/v2/
link = "https://www.instagram.com/iibmers/"

[[params.social]]
icon = "ion-social-facebook-outline" #ionicon pack v2 : https://ionicons.com/v2/
link = "https://www.facebook.com/iibmers"

[[params.social]]
icon = "ion-social-youtube-outline" #ionicon pack v2 : https://ionicons.com/v2/
link = "https://www.youtube.com/channel/UCkovYMRH5t05yrkC0AegO1A/featured"

################################# Plugins #####################################
# CSS Plugins
[[params.plugins.css]]
link = "plugins/bootstrap/css/bootstrap.min.css"
attributes = "media='screen'"

[[params.plugins.css]]
link = "plugins/ionicons/css/ionicons.min.css"
attributes = ""

[[params.plugins.css]]
link = "plugins/magnific-popup/magnific-popup.min.css"
attributes = ""

[[params.plugins.css]]
link = "plugins/slick/slick.css"
attributes = ""

# JS Plugins
[[params.plugins.js]]
link = "plugins/jquery/jquery.min.js"
attributes = ""

[[params.plugins.js]]
link = "plugins/bootstrap/js/bootstrap.min.js"
attributes = ""

[[params.plugins.js]]
link = "plugins/slick/slick.min.js"
attributes = ""

[[params.plugins.js]]
link = "plugins/magnific-popup/magnific-popup.min.js"
attributes = ""

[[params.plugins.js]]
link = "plugins/shuffle/shuffle.min.js"
attributes = ""

[[params.plugins.js]]
link = "plugins/google-map/gmap.js"
attributes = "defer"


################################# English translation #########################
[languages.en]
languageName = "English"
languageCode = "en-US"
contentDir = "content/english"
weight = 1
copyright = "Copyright &copy; 2021 [IIBMers github](https://github.com/IIBMErs). All Rights Reserved."

# Main menu
[[languages.en.menu.main]]
name = "Home"
URL = "/"
weight = 1

[[languages.en.menu.main]]
name = "About"
URL = "about"
weight = 2

[[languages.en.menu.main]]
name = "Projects"
URL = "project"
weight = 3

[[languages.en.menu.main]]
name = "Blog"
URL = "blog"
weight = 4

[[languages.en.menu.main]]
name = "Approach"
URL = "approach"
weight = 5

[[languages.en.menu.main]]
name = "Contact"
URL = "contact"
weight = 6

# Footer menu
[[languages.en.menu.footer]]
name = "About"
URL = "about"
weight = 1

[[languages.en.menu.footer]]
name = "Projects"
URL = "project"
weight = 2

[[languages.en.menu.footer]]
name = "Blog"
URL = "blog"
weight = 3

[[languages.en.menu.footer]]
name = "Approach"
URL = "approach"
weight = 4

[[languages.en.menu.footer]]
name = "Contact"
URL = "contact"
weight = 5


################################# French translation ##########################
[languages.fr]
languageName = "Français"
languageCode = "fr-FR"
contentDir = "content/french"
weight = 2
copyright = "Copyright &copy; 2021 [Themefisher](https://themefisher.com). Tous droits réservés."

# Main menu
[[languages.fr.menu.main]]
name = "Accueil"
URL = "/"
weight = 1

[[languages.fr.menu.main]]
name = "À propos"
URL = "about"
weight = 2

[[languages.fr.menu.main]]
name = "Projet"
URL = "project"
weight = 3

[[languages.fr.menu.main]]
name = "Blog"
URL = "blog"
weight = 4

[[languages.fr.menu.main]]
weight = 5
name = "Plus"
hasChildren = true

  [[languages.fr.menu.main]]
  parent = "Plus"
  name = "Questions fréquentes"
  URL = "faq"

  [[languages.fr.menu.main]]
  parent = "Plus"
  name = "Tarification"
  URL = "pricing"

  [[languages.fr.menu.main]]
  parent = "Plus"
  name = "Service"
  URL = "service"

[[languages.fr.menu.main]]
name = "Contact"
URL = "contact"
weight = 6

# Footer menu
[[languages.fr.menu.footer]]
name = "À propos"
URL = "about"
weight = 1

[[languages.fr.menu.footer]]
name = "Projet"
URL = "project"
weight = 2

[[languages.fr.menu.footer]]
name = "Service"
URL = "service"
weight = 3

[[languages.fr.menu.footer]]
name = "Tarification"
URL = "pricing"
weight = 4

[[languages.fr.menu.footer]]
name = "Questions fréquentes"
URL = "faq"
weight = 5

[[languages.fr.menu.footer]]
name = "Contact"
URL = "contact"
weight = 6


################################# Italian translation ##########################
[languages.it]
languageName = "Italiano"
languageCode = "it-IT"
contentDir = "content/italian"
weight = 2
copyright = "Copyright &copy; 2021 [Themefisher](https://themefisher.com). Tutti i diritti riservati."

# Main menu
[[languages.it.menu.main]]
name = "Pagina iniziale"
URL = "/"
weight = 1

[[languages.it.menu.main]]
name = "Chi siamo"
URL = "about"
weight = 2

[[languages.it.menu.main]]
name = "Progetto"
URL = "project"
weight = 3

[[languages.it.menu.main]]
name = "Blog"
URL = "blog"
weight = 4

[[languages.it.menu.main]]
weight = 5
name = "Più"
hasChildren = true

  [[languages.it.menu.main]]
  parent = "Più"
  name = "Domande frequenti"
  URL = "faq"

  [[languages.it.menu.main]]
  parent = "Più"
  name = "Tariffazione"
  URL = "pricing"

  [[languages.it.menu.main]]
  parent = "Più"
  name = "Servizio"
  URL = "service"

[[languages.it.menu.main]]
name = "Contatta"
URL = "contact"
weight = 6

# Footer menu
[[languages.it.menu.footer]]
name = "Chi siamo"
URL = "about"
weight = 1

[[languages.it.menu.footer]]
name = "Progetto"
URL = "project"
weight = 2

[[languages.it.menu.footer]]
name = "Servizio"
URL = "service"
weight = 3

[[languages.it.menu.footer]]
name = "Tariffazione"
URL = "pricing"
weight = 4

[[languages.it.menu.footer]]
name = "Domande frequenti"
URL = "faq"
weight = 5

[[languages.it.menu.footer]]
name = "Contatta"
URL = "contact"
weight = 6


################################# German translation ##########################
[languages.de]
languageName = "Deutsch"
languageCode = "de-DE"
contentDir = "content/german"
weight = 3
copyright = "Copyright &copy; 2021 [Themefisher](https://themefisher.com). Alle Rechte vorbehalten."

# Main menu
[[languages.de.menu.main]]
name = "Startseite"
URL = "/"
weight = 1

[[languages.de.menu.main]]
name = "Über"
URL = "about"
weight = 2

[[languages.de.menu.main]]
name = "Projekt"
URL = "project"
weight = 3

[[languages.de.menu.main]]
name = "Blog"
URL = "blog"
weight = 4

[[languages.de.menu.main]]
name = "Mehr"
hasChildren = true
weight = 5

  [[languages.de.menu.main]]
  parent = "Mehr"
  name = "Häufige Fragen"
  URL = "faq"

  [[languages.de.menu.main]]
  parent = "Mehr"
  name = "Preise"
  URL = "pricing"

  [[languages.de.menu.main]]
  parent = "Mehr"
  name = "Dienstleistung"
  URL = "service"

[[languages.de.menu.main]]
name = "Kontakt"
URL = "contact"
weight = 6

# Footer menu
[[languages.de.menu.footer]]
name = "Über"
URL = "about"
weight = 1

[[languages.de.menu.footer]]
name = "Projekt"
URL = "project"
weight = 2

[[languages.de.menu.footer]]
name = "Dienstleistung"
URL = "service"
weight = 3

[[languages.de.menu.footer]]
name = "Preise"
URL = "pricing"
weight = 4

[[languages.de.menu.footer]]
name = "Häufige Fragen"
URL = "faq"
weight = 5

[[languages.de.menu.footer]]
name = "Kontakt"
URL = "contact"
weight = 6
