$light: #fff;
$primary-color: #5096f0;
$secondary-color: #ec476e;
$success: #1bbb1b;
$black: #435058;
$alert:#c7254e;
$border-color:#dedede;
$primary-font:'Roboto', sans-serif;
$secondary-font:'Volkhov', serif;
$icon-font: 'themefisher-font';
